beautifulsoup4==4.12.3
Flask==3.0.0
Flask-Caching==2.3.0
Flask-Limiter==3.8.0
google-api-python-client==2.141.0
openai==1.41.0
cloud-sql-python-connector[pg8000]==1.7.0
google-cloud-sql-connector
sqlalchemy==2.0.27
pg8000==1.31.2
python-dotenv==1.0.1
requests==2.32.3
gunicorn
setuptools==69.0.3
